{%- macro social_links(social_config) %}
<p>

  {%- if social_config.google_scholar %}
  <a href="https://scholar.google.com/citations?user={{ social_config.google_scholar }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Google Scholar">
      {{ svg::google_scholar() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.orcid %}
  <a href="https://orcid.org/{{ social_config.orcid }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="ORCiD">
      {{ svg::orcid() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.facebook %}
  <a href="https://facebook.com/{{ social_config.facebook }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Facebook">
      {{ svg::facebook() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.twitter %}
  <a href="https://twitter.com/{{ social_config.twitter }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Twitter">
      {{ svg::twitter() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.linkedin %}
  <a href="https://www.linkedin.com/in/{{ social_config.linkedin }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="LinkedIn">
      {{ svg::linkedin() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.github %}
  <a href="https://github.com/{{ social_config.github }}" target="_blank" class="is-size-4" class="is-size-4">
    <span class="icon is-large" title="GitHub">
      {{ svg::github() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.gitlab %}
  <a href="https://gitlab.com/{{ social_config.gitlab }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="GitLab">
      {{ svg::gitlab() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.stackoverflow %}
  <a href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Stack Overflow">
      {{ svg::stackoverflow() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.keybase %}
  <a href="https://keybase.io/{{ social_config.keybase }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Keybase">
      {{ svg::keybase() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.mastodon %}
  <a href="https://mastodon.social/{{ social_config.mastodon }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Mastodon">
      {{ svg::mastodon() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.instagram %}
  <a href="https://www.instagram.com/{{ social_config.instagram}}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Instagram">
      {{ svg::instagram() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.behance %}
  <a href="https://www.behance.net/{{ social_config.behance }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Behance">
      {{ svg::behance() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.email %}
  <a href="mailto:{{ social_config.email }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Email">
      {{ svg::envelope() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.medium %}
  <a href="https://medium.com/@{{ social_config.medium }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Medium">
      {{ svg::medium() }}
    </span>
  </a>
  {%- endif %}

  {%- if social_config.googleplay %}
  <a href="https://play.google.com/store/apps/developer?id={{ social_config.googleplay }}&hl=en" target="_blank" class="is-size-4">
    <span class="icon is-large" title="Google play">
      {{ svg::google_play() }}
    </span>
  </a>
  {%- endif %}

  {%- if config.generate_feed %}
  <a href="{{ config.base_url }}/{{ config.feed_filename }}" target="_blank" class="is-size-4">
    <span class="icon is-large" title="RSS Feed">
      {{ svg::rss() }}
    </span>
  </a>
  {%- endif %}
</p>
{%- endmacro %}

{%- macro page_publish_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="icon">
    {{ svg::user() }}
  </span>
  <span>{{ config.extra.author.name }} published on</span>
  <span class="icon">
    {{ svg::calendar_days() }}
  </span>
  <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
</span>
{%- endmacro %}

{%- macro page_content_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="icon">
    {{ svg::clock() }}
  </span>
  <span>{{ page.reading_time }} min,</span>
  <span class="icon">
    {{ svg::pencil() }}
  </span>
  <span>{{ page.word_count }} words</span>
</span>
{%- endmacro %}

{%- macro render_categories(categories) %}
<p>
  Categories:
  {%- for category in categories %}
  <a class="has-text-info-dark has-text-weight-semibold" href="{{ get_taxonomy_url(kind='categories', name=category) }}">
    <span class="icon-text">
      <span class="icon">
        {{ svg::cube() }}
      </span>
      <span>{{category}}</span>
    </span>
  </a>
  {%- endfor %}
</p>
{%- endmacro %}

{%- macro render_tags(tags) %}
<p>
  Tags:
  {%- for tag in tags %}
  <a class="has-text-info-dark has-text-weight-semibold" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
    <span class="icon-text">
      <span class="icon">
        {{ svg::tag() }}
      </span>
      <span>{{tag}}</span>
    </span>
  </a>
  {%- endfor %}
</p>
{%- endmacro %}
